body {
  /* width: 20rem; */
  font-family: sans-serif;
}

h1 {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 6px;

  text-align: center;
  color: rgb(126, 25, 70);
  background-color: rgb(255, 221, 236);
  border: 2px solid rgb(184, 40, 102);
  border-radius: 5px;
}

#inputBox {
  margin: 20px 0 20px 0;
}



.session {
  margin-bottom: 10px;
  width: 100%;
  background-color: rgb(255, 221, 236);
  border: 2px solid rgb(184, 40, 102);
  border-radius: 5px;
}


.sessionHeader {
  display: grid;
  grid-template-columns: 12fr 3fr 1fr 1fr;
  grid-auto-rows: 30px;
  gap: 6px;
}


.sessionHeader>* {
  border: 1px solid black;
  padding: 8px 4px 4px 4px;
}

.sessionName {
  cursor: pointer;
  color: rgb(126, 25, 70);
  font-size: 0.8rem;
  font-weight: bold;
  padding-right: 4px;
  padding-left: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tabsCount {
  font-style: italic;
}

.showHideBtn {}

.deleteSession {}

.visible {
  display: block
}

.hidden {
  display: none
}

.sessionTab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteTab {
  all: unset;
  height: 16px;
  width: 16px;
}