/* #sessionsList {
    display: grid;
    grid-template-columns: 16fr 1fr;
    grid-auto-rows: 40px;
    gap: 6px;
    align-items: center;
} */

.session {
    display: grid;
    grid-template-columns: 9fr 1fr;
    column-gap: 20px;
    
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid #320719;
}

.sessionHeader {
    display: grid;
    grid-template-columns: 12fr 3fr 1fr;
    gap: 6px;
    align-items: center;

    /* padding: 0.5rem; */
}


.sessionName {
    padding-left: 15px;
    padding-right: 4px;

    color: #320719;
    font-size: 0.9rem;
    font-weight: 600;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    cursor: pointer;

}

.tabsCount {
    color: #4b2f3b;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 400;
}

.showHideBtn {
    cursor: pointer;
}


.visible {
    display: block
}

.hidden {
    display: none;
}

.deleteSession {
    align-self: center;
    background-color: pink;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
}

.tabsList {
    margin: 5px 0 0 5px;
}

.sessionTab {
    display: grid;
    grid-template-columns: 9fr 1fr 1fr ;
    padding-left: 20px;
    justify-items: left;
    align-items: center;
}

.tabTitle {
    cursor: pointer;
    color: rgb(121, 60, 88);
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.deleteTab {
    align-self: center;
    background-color: pink;
    border-radius: 100%;
    padding: 3px;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}