body {
  width: 20rem;
}

.session {
  cursor: pointer;
  margin-bottom: 10px;
}

.sessionHeader,
.sessionTab {
  display: flex;
  justify-content: space-between;
}

.sessionName {
  font-weight: bold;
}

.visible {
  display: block
}

.hidden {
  display: none
}

.deleteTab {
  all: unset;
  height: 16px;
  width: 16px;
}

