h1 {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 6px;

    text-align: center;
    color: lightgoldenrodyellow;
    background-color: rgb(126, 25, 70);
    border: 2px solid #320719;
    border-radius: 40px;
}


#inputBox {
    display: grid;
    grid-template-columns: 2fr 7fr 3fr;
    /* gap: 3px; */
    align-items: center;

    background-color: rgb(255, 135, 155);
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(255, 135, 155);
    padding: 10px;
    margin : 30px 20px 10px 20px;
}

label {
    font-weight: bold;
}

input {
    all: unset;
    background-color: white;
    border-radius: 5px;
    padding-left: 5px;
}

#sessionSave {
    color: white;
    font-weight: bold;
    background-color: rgb(126, 25, 70);
    border: none;
    box-shadow: 0 0 5px rgb(126, 25, 70);
    border-radius: 20px;
    width: max-content;
    justify-self: center;
}

#currentBox {
    display: grid;
    grid-template-columns: 9fr 3fr;
    /* gap: 3px; */
    align-items: stretch;
    padding: 10px;
    margin : 0px 20px 10px 20px;
}

#currentSession {
    color: rgb(126, 25, 70);
    width: 100%;
}

#currentSessionName {
    display: inline;
    margin-left: 10px;
}

#refreshDiv button {
    align-self: center;
    background-color: pink;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
}

.refreshBtn {
    align-self: center;
    background-color: rgb(126, 25, 70);
    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
    cursor: pointer;
}

#sessionsList {
    margin-top: 30px;
}

.session {
    display: grid;
    grid-template-columns: 9fr 1fr;
    column-gap: 20px;

    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid #320719;
}

.sessionHeader {
    display: grid;
    grid-template-columns: 12fr 3fr 1fr;
    gap: 6px;
    align-items: center;

    /* padding: 0.5rem; */
}


.sessionName {
    padding-left: 15px;
    padding-right: 4px;

    color: #320719;
    font-size: 0.9rem;
    font-weight: 600;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    cursor: pointer;

}

.tabsCount {
    color: #4b2f3b;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 400;
}

.showHideBtn {
    cursor: pointer;
}


.visible {
    display: block
}

.hidden {
    display: none;
}

.deleteSession {
    align-self: center;
    background-color: pink;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
}

.tabsList {
    margin: 5px 0 0 5px;
}

.sessionTab {
    display: grid;
    grid-template-columns: 9fr 1fr 1fr;
    padding-left: 20px;
    justify-items: left;
    align-items: center;
}

.tabTitle {
    cursor: pointer;
    color: rgb(121, 60, 88);
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.deleteTab {
    align-self: center;
    background-color: rgb(235, 235, 235);
    border-radius: 100%;
    margin-left: 10px;
    padding: 3px;
    cursor: pointer;
    width: 0.8rem;
    height: 0.8rem;
}